
    .container{
    background-color: #3ac2e4bb;
display: flex;
   flex-wrap: wrap;
   width: 800px;

}
.container div{
    background-color: rgba(204, 68, 238, 0.445);
  padding: 10px;
    border: 1px solid red;
   
}

 .container_item1{
   
    flex-basis: 200px;
}
.container_item2{
   
    flex-basis: 200px;
}
.container_item3{
  
    flex-basis: 200px;
}
.container_item4{
   
    flex-basis: 200px;
}
.container_item5{

    flex-basis: 200px;
} 


