.container{
    background-color: #3ac2e4bb;

}
.container div{
    background-color: rgba(204, 68, 238, 0.445);
    padding: 10px;
    /* margin: 10px; */
}

/* .container_item1{
    
}
.container_item2{
    
}
.container_item3{
    
}
.container_item4{
    
}
.container_item5{
    
}
.container_item6{
    
}
.container_item7{
    
}
.container_item8{
    
}
.container_item9{
    
}
.container_item10{
    
}
.container_item10{
    
}
.container_item11{
    
}
.container_item12{
    
} */
